@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: white;
}
.spinner-border {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: white;
}

.scrollsdown::-webkit-scrollbar {
  height: 0px;
}

.scrolls::-webkit-scrollbar {
  width: 5px;
}

.scrolls::-webkit-scrollbar-thumb {
  width: 5px;
  background: lightgrey;
  border-radius: 10rem;
}

.input {
  width: 100%;
  padding: 0.7rem;
  margin-top: 6px;
  font-size: 0.9rem;
  outline: none;
  background: transparent;
  border-radius: 0.3rem;
}
.inputc {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  outline: none;
  border-radius: 0.3rem;
  background: transparent; /* Make background transparent */
}

.admininput {
  width: 100%;
  padding: 0.7rem;
  margin-top: 6px;
  font-size: 0.9rem;
  outline: none;
  border-radius: 0.3rem;
  border: 1px solid #6c757d;
}
.marquee {
  display: inline-block;
  position: relative;
  animation: scrollMarquee 45s linear infinite;
  white-space: nowrap;
transform: translateX(    100%  );
  -webkit-animation: scrollMarquee 45s linear infinite;
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(100%); /* Start off-screen on the right */
  }
  100% {
    transform: translateX(-100%); 
  }
}

@media (min-width: 1024px) {
  .marquee {
    animation: scrollMarqueeLarge 45s linear infinite;
  }
}

@keyframes scrollMarqueeLarge {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

.inputs {
  width: 100%;
  padding: 0.7rem;
  margin-top: 6px;
  font-size: 0.9rem;
  outline: none;
  background: white;
  border-radius: 0.3rem;
}

.input:focus {
  outline: none;
}
.hmbanner::after {
  content: "";
  width: 100%;
  height: 90%;
  position: absolute;
  background-color: #fff3e4;
  z-index: -10;
  top: 0;
  left: 0;
}
.hmbanner::before {
  content: "";
  width: 100%;
  height: 5rem;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  background-color: #fff3e4;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 520px) {
  .hmbanner::after {
    height: 95%;
  }
}

.bgs {
  background: url(./assets/bgs.png);
  background-position: bottom;
  background-size: 100% 120%;
  background-repeat: no-repeat;
}
